//-
   @file: header
   @author: gejiawen
   @date: 15/12/5 19:15
   @description: header

nav(class=["navbar", "navbar-inverse"])
  div(class="container-fluid")
    div(class="navbar-header")
      img(alt="logo", src="/public/redis-logo.png", width="50px")
      span RSM
    ul(class=["nav", "navbar-nav"])
      li
        a(href="/") Overview
      li
        a(href="/stat_page") Monitoring data map
      li
        a(href="/cmd_page") Run command
